package ${package.Mapper}.impl;

import ${package.Entity}.${entity};
import ${superMapperClassPackage};


/**
 * @author ${author}
 * @description  $!{table.comment} 业务实现层
 * @@date ${date}
 */
public class ${table.mapperName}Impl extends ${superMapperClass}<${entity}> {

}